.idea
.vagrant
.vscode
.ssh
.gitconfig
**/*.toml
**/__pycache__/
**/*.sql
!ofuscator/tests/input_anonymizer.sql
.aws
*.box
cache_downloads
tmp
madison
/.tmp/
/ofuscator/src/madison.ofuscator.egg-info/
/ofuscator/build/
/ofuscator/dist/
